body {
    background-image: url("C:/Users/Godgive Computer LTD/Desktop/Web PortFolio/e-commerce1/client/flowteche-commerce/src/assets/other/tee3.jpg");
    object-fit: cover;
    overflow: scroll;
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: "Cormorant Infant", san-serif;
    width: 100vw;
}
.App{
    background-color: #24242477;
    backdrop-filter: blur(10px);
}
